h1{
    text-align:center;
}

p{
    font-size: 50px;
    color: blue;
    letter-spacing: 50px;
    margin-top: 300px;
    margin-bottom: 100;
}

h2{
    color: brown;
}
h3{
    font-style:italic
}
button{
    width:150px;
    height:fit fit-content;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:30px;
    padding-right:30px;
    background-color:blue;
    border:none;
    cursor:pointer;
    
}

button:hover{
    background-color: aqua;
}